*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
html,body{
    font-size: 62.5%;
    text-align: center;
}
#container{
    width: 100%;
    height: 100vh;
    position: relative;
    
}
header{
    position: absolute;
    font-size: 3rem;
    left: 40%;
    text-align: center;
    top: 20px;
    
}
main{
    position: absolute;
    width: 100%;
    top: 15%;
}

#main-clock{
    
    font-size: 7rem;
    
}

.clock{
    width: 15rem;
    height: 13rem;
    padding: 20px;
    margin: 0 28px;
    color: white;
    background: linear-gradient(to bottom, black, grey
    );
    box-shadow: 0 0.8rem 2.5rem black;
    align-items: center;
    position: relative;
    
}
#mian-date{
    position: absolute;
    font-size: 1.5rem;
    top: 130px;
    left: 24%;
    margin: auto;
    text-align: center;
    align-items: center;
}
#mian-date > span{
    width: 100%;
    height: 30px;
    align-items: center;
    margin: 0 60px;
    text-align: center;
}




.footer {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    left: 50%; 
    margin-left: -150px;
    text-align: center;
  }
  .footer a {
    color: hsl(282, 100%, 21%);
    text-decoration: none;
  }