*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

#container{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
}

.countdown-wrapper{
    width: 100%;
    position: absolute;
    top: 15%;
    text-align: center;
    color: white;
}

.countdown-wrapper h1{
    font-size: 8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 8rem;
    text-shadow: 0 0.5rem 0.8rem rgb(19, 18, 18);
}

.countdown{
    display: flex;
    justify-content: center;
}

.countdown div{
    width: 13rem;
    height: 13rem;
    background: linear-gradient(to bottom, rgb(33, 32, 32) 50%, grey 0);
    margin: 0 4rem 12rem 4rem;
    font-size: 7rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.8rem 2.5rem gb(19, 18, 18);
    position: relative;
}

.countdown div::before{
    content: '';
    position: absolute;
    width: 100%;
    height: .24rem;
    background-color: #17181b;
}

.countdown div::after{
    content: attr(data-content);
    font-size: 2.2rem;
    font-weight: 400;
    position: absolute;
    bottom: -6rem;
}



/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}
html,body{
    font-size: 62.5%;
    text-align: center;
}
#container{
    width: 100%;
    height: 100vh;
    position: relative;
    
}
header{
    position: absolute;
    font-size: 3rem;
    left: 40%;
    text-align: center;
    top: 20px;
    
}
main{
    position: absolute;
    left: 30%;
    top: 15%;
    margin: auto;
}
#main-clock{

    font-size: 7rem;
    
}

.clock{
    width: 13rem;
    height: 13rem;
    padding: 20px;
    margin: 0 28px;
    color: white;
    background: linear-gradient(to bottom, black, grey
    );
    box-shadow: 0 0.8rem 2.5rem black;
    
}
#mian-date{
    position: absolute;
    font-size: 4rem;
    top: 130px;
    margin: auto;
}
#mian-date > span{
    width: 100%;
    height: 30px;
    margin: 0 20px;
    text-align: center;
}




.footer {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    left: 50%; 
    margin-left: -150px;
    text-align: center;
  }
  .footer a {
    color: hsl(282, 100%, 21%);
    text-decoration: none;
  } */